openapi: 3.1.0
info:
  title: Rollbar Deployment Access Tokens Users API
  description: The Rollbar Deployment API allows developers to notify Rollbar of application deployments and releases. By reporting deploys, teams can correlate error spikes with specific releases, track which code version introduced a bug, and automatically resolve items that were fixed in a deploy. The API accepts deployment metadata such as revision, environment, and rollbar_username, and integrates with CI/CD pipelines to provide continuous visibility into how deployments affect application stability.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Users
  description: Retrieve user information within a Rollbar account.
paths:
  /users:
    get:
      operationId: listAllUsers
      summary: List All Users
      description: Returns all users in the account. Requires an account-level access token.
      tags:
      - Users
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          description: Unauthorized
  /user/{userId}:
    get:
      operationId: getUser
      summary: Get a User
      description: Returns information about a specific user by their user ID.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
        '404':
          description: User not found
components:
  parameters:
    UserIdParam:
      name: userId
      in: path
      required: true
      description: The ID of the user.
      schema:
        type: integer
  schemas:
    User:
      type: object
      description: A user in a Rollbar account.
      properties:
        id:
          type: integer
          description: The user ID.
        username:
          type: string
          description: The username.
        email:
          type: string
          description: The user's email address.
          format: email
    UserListResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
    UserResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/User'
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token for authentication. Requires write or post_server_item scope for creating deploys.
externalDocs:
  description: Rollbar Deployment API Documentation
  url: https://docs.rollbar.com/docs/deployment-api
