openapi: 3.2.0
info:
  title: Rollbar Metrics Resolution Time Metrics API
  description: The Rollbar Metrics API is part of Rollbar Analyze and provides programmatic access to metrics data for error tracking analysis and discovery. It enables developers to query resolution time metrics, occurrence counts, and other aggregate data across projects. The API supports filtering and grouping of results, making it useful for building dashboards, generating reports, and monitoring error trends over time.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Resolution Time Metrics
  description: Query time-to-resolution metrics for projects, filterable by environment, level, and framework.
paths:
  /metrics/ttr:
    post:
      operationId: getResolutionTimeMetrics
      summary: Get Resolution Time Metrics for a List of Projects
      description: Returns resolution time (time-to-resolve) metrics for a provided list of project IDs. Results can be filtered by environments, levels, and frameworks.
      tags:
      - Resolution Time Metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolutionTimeMetricsRequest'
      responses:
        '200':
          description: Resolution time metrics results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: Bad request - invalid query parameters
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
components:
  schemas:
    ResolutionTimeMetricsRequest:
      type: object
      description: Request body for querying resolution time metrics across projects.
      required:
      - project_ids
      properties:
        project_ids:
          type: array
          description: List of project IDs to retrieve resolution time metrics for.
          items:
            type: integer
        start_time:
          type: integer
          description: Start of the time range as Unix epoch time in seconds.
        end_time:
          type: integer
          description: End of the time range as Unix epoch time in seconds.
        environments:
          type: array
          description: Filter by specific environment names.
          items:
            type: string
        levels:
          type: array
          description: Filter by severity levels.
          items:
            type: string
            enum:
            - critical
            - error
            - warning
            - info
            - debug
        frameworks:
          type: array
          description: Filter by framework identifiers.
          items:
            type: string
    MetricsResponse:
      type: object
      description: Response containing metrics query results.
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: object
          description: The metrics data results.
          properties:
            rows:
              type: array
              description: Array of result rows containing the queried metrics.
              items:
                type: object
            columns:
              type: array
              description: Column definitions describing the result structure.
              items:
                type: string
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token with read scope for authentication.
externalDocs:
  description: Rollbar Metrics API Documentation
  url: https://docs.rollbar.com/docs/metrics-api-examples
