openapi: 3.1.0
info:
  title: Rollbar Deployment Access Tokens Resolution Time Metrics API
  description: The Rollbar Deployment API allows developers to notify Rollbar of application deployments and releases. By reporting deploys, teams can correlate error spikes with specific releases, track which code version introduced a bug, and automatically resolve items that were fixed in a deploy. The API accepts deployment metadata such as revision, environment, and rollbar_username, and integrates with CI/CD pipelines to provide continuous visibility into how deployments affect application stability.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Resolution Time Metrics
  description: Query time-to-resolution metrics for projects, filterable by environment, level, and framework.
paths:
  /metrics/ttr:
    post:
      operationId: getResolutionTimeMetrics
      summary: Get Resolution Time Metrics for a List of Projects
      description: Returns resolution time (time-to-resolve) metrics for a provided list of project IDs. Results can be filtered by environments, levels, and frameworks.
      tags:
      - Resolution Time Metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolutionTimeMetricsRequest'
      responses:
        '200':
          description: Resolution time metrics results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          description: Bad request - invalid query parameters
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
components:
  schemas:
    MetricsResponse:
      type: object
      description: Response containing metrics query results.
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: object
          description: The metrics data results.
          properties:
            rows:
              type: array
              description: Array of result rows containing the queried metrics.
              items:
                type: object
            columns:
              type: array
              description: Column definitions describing the result structure.
              items:
                type: string
    ResolutionTimeMetricsRequest:
      type: object
      description: Request body for querying resolution time metrics across projects.
      required:
      - project_ids
      properties:
        project_ids:
          type: array
          description: List of project IDs to retrieve resolution time metrics for.
          items:
            type: integer
        start_time:
          type: integer
          description: Start of the time range as Unix epoch time in seconds.
        end_time:
          type: integer
          description: End of the time range as Unix epoch time in seconds.
        environments:
          type: array
          description: Filter by specific environment names.
          items:
            type: string
        levels:
          type: array
          description: Filter by severity levels.
          items:
            type: string
            enum:
            - critical
            - error
            - warning
            - info
            - debug
        frameworks:
          type: array
          description: Filter by framework identifiers.
          items:
            type: string
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token for authentication. Requires write or post_server_item scope for creating deploys.
externalDocs:
  description: Rollbar Deployment API Documentation
  url: https://docs.rollbar.com/docs/deployment-api
