openapi: 3.2.0
info:
  title: Rollbar REST Source Maps API
  description: The Rollbar REST API provides programmatic access to the Rollbar error tracking and monitoring platform.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Source Maps
  description: Upload JavaScript source maps to enable readable stack traces for minified code.
paths:
  /sourcemap:
    post:
      operationId: uploadSourceMap
      summary: Upload a JS Source Map
      description: Uploads a JavaScript source map file so that Rollbar can translate minified stack traces into readable source code references. The source map is associated with a specific version and minified URL.
      tags:
      - Source Maps
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadSourceMapRequest'
      responses:
        '200':
          description: Source map uploaded
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
components:
  schemas:
    UploadSourceMapRequest:
      type: object
      description: Request body for uploading a JavaScript source map file.
      required:
      - access_token
      - version
      - minified_url
      - source_map
      properties:
        access_token:
          type: string
          description: A post_server_item access token.
        version:
          type: string
          description: The code version string associated with this source map.
        minified_url:
          type: string
          description: The full URL of the minified JavaScript file.
          format: uri
        source_map:
          type: string
          description: The source map file contents.
          format: binary
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token for authentication. Different token scopes are required for different operations.
externalDocs:
  description: Rollbar API Documentation
  url: https://docs.rollbar.com/reference/getting-started-1
