openapi: 3.1.0
info:
  title: Rollbar Deployment Access Tokens Notifications API
  description: The Rollbar Deployment API allows developers to notify Rollbar of application deployments and releases. By reporting deploys, teams can correlate error spikes with specific releases, track which code version introduced a bug, and automatically resolve items that were fixed in a deploy. The API accepts deployment metadata such as revision, environment, and rollbar_username, and integrates with CI/CD pipelines to provide continuous visibility into how deployments affect application stability.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Notifications
  description: Manage webhook notification rules and configuration for a project.
paths:
  /notifications/webhook:
    get:
      operationId: getWebhookConfig
      summary: Get Webhook Notification Configuration
      description: Returns the current webhook notification configuration for the project, including the webhook URL and format settings.
      tags:
      - Notifications
      responses:
        '200':
          description: Webhook configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigResponse'
        '401':
          description: Unauthorized
    put:
      operationId: updateWebhookConfig
      summary: Update Webhook Notification Configuration
      description: Updates the webhook notification configuration for the project, including the URL and format (JSON or XML).
      tags:
      - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookConfigRequest'
      responses:
        '200':
          description: Webhook configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /notifications/webhook/rules:
    get:
      operationId: listWebhookRules
      summary: List Webhook Notification Rules
      description: Returns all webhook notification rules configured for the project.
      tags:
      - Notifications
      responses:
        '200':
          description: List of webhook rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleListResponse'
        '401':
          description: Unauthorized
    post:
      operationId: createWebhookRule
      summary: Create a Webhook Notification Rule
      description: Creates a new webhook notification rule for the project, specifying trigger conditions and optional URL override.
      tags:
      - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRuleRequest'
      responses:
        '200':
          description: Webhook rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /notifications/webhook/rule/{ruleId}:
    get:
      operationId: getWebhookRule
      summary: Get a Webhook Notification Rule
      description: Returns a specific webhook notification rule by its ID.
      tags:
      - Notifications
      parameters:
      - name: ruleId
        in: path
        required: true
        description: The ID of the webhook rule to retrieve.
        schema:
          type: integer
      responses:
        '200':
          description: Webhook rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
    put:
      operationId: updateWebhookRule
      summary: Update a Webhook Notification Rule
      description: Updates a specific webhook notification rule.
      tags:
      - Notifications
      parameters:
      - name: ruleId
        in: path
        required: true
        description: The ID of the webhook rule to update.
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRuleRequest'
      responses:
        '200':
          description: Webhook rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
    delete:
      operationId: deleteWebhookRule
      summary: Delete a Webhook Notification Rule
      description: Deletes a specific webhook notification rule.
      tags:
      - Notifications
      parameters:
      - name: ruleId
        in: path
        required: true
        description: The ID of the webhook rule to delete.
        schema:
          type: integer
      responses:
        '200':
          description: Webhook rule deleted
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
components:
  schemas:
    WebhookRuleResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: object
          properties:
            id:
              type: integer
              description: The rule ID.
            trigger:
              type: string
              description: The event trigger type.
            filters:
              type: array
              description: Filter conditions.
              items:
                type: object
            config:
              type: object
              description: Rule configuration.
    CreateWebhookRuleRequest:
      type: object
      description: Request body for creating a webhook notification rule.
      properties:
        trigger:
          type: string
          description: The event type that triggers this rule.
          enum:
          - new_item
          - occurrence
          - exp_repeat_item
          - item_velocity
          - resolved_item
          - reactivated_item
          - reopened_item
          - deploy
        filters:
          type: array
          description: Filter conditions for the rule.
          items:
            type: object
        config:
          type: object
          description: Additional configuration for the rule.
          properties:
            url:
              type: string
              description: Override URL for this specific rule.
              format: uri
    WebhookConfigResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether the webhook integration is enabled.
            url:
              type: string
              description: The webhook URL.
            format:
              type: string
              description: The payload format.
              enum:
              - json
              - xml
    WebhookRuleListResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                description: The rule ID.
              trigger:
                type: string
                description: The event trigger type.
              filters:
                type: array
                description: Filter conditions.
                items:
                  type: object
              config:
                type: object
                description: Rule configuration.
    UpdateWebhookConfigRequest:
      type: object
      description: Request body for updating webhook notification configuration.
      properties:
        enabled:
          type: boolean
          description: Whether the webhook integration is enabled.
        url:
          type: string
          description: The URL to send webhook payloads to.
          format: uri
        format:
          type: string
          description: The format for webhook payloads.
          enum:
          - json
          - xml
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token for authentication. Requires write or post_server_item scope for creating deploys.
externalDocs:
  description: Rollbar Deployment API Documentation
  url: https://docs.rollbar.com/docs/deployment-api
