openapi: 3.1.0
info:
  title: Rollbar Deployment Access Tokens Invites API
  description: The Rollbar Deployment API allows developers to notify Rollbar of application deployments and releases. By reporting deploys, teams can correlate error spikes with specific releases, track which code version introduced a bug, and automatically resolve items that were fixed in a deploy. The API accepts deployment metadata such as revision, environment, and rollbar_username, and integrates with CI/CD pipelines to provide continuous visibility into how deployments affect application stability.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
servers:
- url: https://api.rollbar.com/api/1
  description: Production Server
security:
- accessToken: []
tags:
- name: Invites
  description: Manage invitations to join teams within a Rollbar account.
paths:
  /team/{teamId}/invites:
    get:
      operationId: listTeamInvites
      summary: List All Invitations for a Team
      description: Returns all pending invitations for a specific team.
      tags:
      - Invites
      parameters:
      - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: List of invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    post:
      operationId: inviteUserToTeam
      summary: Invite a User to a Team
      description: Sends an invitation to join a team. The invitee receives an email with a link to accept the invitation.
      tags:
      - Invites
      parameters:
      - $ref: '#/components/parameters/TeamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
      responses:
        '200':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /invite/{inviteId}:
    get:
      operationId: getInvite
      summary: Get an Invitation
      description: Returns information about a specific invitation.
      tags:
      - Invites
      parameters:
      - name: inviteId
        in: path
        required: true
        description: The ID of the invitation to retrieve.
        schema:
          type: integer
      responses:
        '200':
          description: Invitation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
        '401':
          description: Unauthorized
        '404':
          description: Invitation not found
    delete:
      operationId: cancelInvite
      summary: Cancel an Invitation
      description: Cancels a pending invitation. Only pending invitations can be cancelled.
      tags:
      - Invites
      parameters:
      - name: inviteId
        in: path
        required: true
        description: The ID of the invitation to cancel.
        schema:
          type: integer
      responses:
        '200':
          description: Invitation cancelled
        '401':
          description: Unauthorized
        '404':
          description: Invitation not found
components:
  parameters:
    TeamIdParam:
      name: teamId
      in: path
      required: true
      description: The ID of the team.
      schema:
        type: integer
  schemas:
    InviteResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Invite'
    CreateInviteRequest:
      type: object
      description: Request body for inviting a user to a team.
      required:
      - email
      properties:
        email:
          type: string
          description: The email address to send the invitation to.
          format: email
    Invite:
      type: object
      description: An invitation to join a Rollbar team.
      properties:
        id:
          type: integer
          description: The invitation ID.
        from_user_id:
          type: integer
          description: The user ID of the person who sent the invitation.
        team_id:
          type: integer
          description: The team ID the invitation is for.
        to_email:
          type: string
          description: The email address the invitation was sent to.
          format: email
        status:
          type: string
          description: The status of the invitation.
          enum:
          - pending
          - accepted
          - rejected
          - cancelled
        date_created:
          type: integer
          description: Unix timestamp when the invitation was created.
        date_redeemed:
          type: integer
          description: Unix timestamp when the invitation was accepted.
    InviteListResponse:
      type: object
      properties:
        err:
          type: integer
          description: Error code. 0 indicates success.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Invite'
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: Rollbar access token for authentication. Requires write or post_server_item scope for creating deploys.
externalDocs:
  description: Rollbar Deployment API Documentation
  url: https://docs.rollbar.com/docs/deployment-api
