openapi: 3.1.0
info:
  title: Rollbar REST API
  description: >-
    The Rollbar REST API provides programmatic access to the Rollbar error
    tracking and monitoring platform. It allows developers to manage projects,
    items, occurrences, deploys, teams, users, and invites through a RESTful
    JSON interface. Authentication is handled via access tokens passed in the
    X-Rollbar-Access-Token header. The API is used by Rollbar's official SDKs
    to report errors and exceptions, and can also be used to build custom
    integrations, extract data for analysis, or automate workflows around
    error management.
  version: '1'
  contact:
    name: Rollbar Support
    url: https://rollbar.com/support/
  termsOfService: https://rollbar.com/terms/
externalDocs:
  description: Rollbar API Documentation
  url: https://docs.rollbar.com/reference/getting-started-1
servers:
  - url: https://api.rollbar.com/api/1
    description: Production Server
tags:
  - name: Access Tokens
    description: >-
      Manage project access tokens used for authentication and authorization
      when interacting with the API.
  - name: Invites
    description: >-
      Manage invitations to join teams within a Rollbar account.
  - name: Items
    description: >-
      Manage error and message items tracked by Rollbar. Items represent
      unique errors or messages grouped by fingerprint.
  - name: Notifications
    description: >-
      Manage webhook notification rules and configuration for a project.
  - name: Occurrences
    description: >-
      Retrieve individual occurrences of errors and messages. Each occurrence
      represents a single instance of an item happening.
  - name: Projects
    description: >-
      Manage projects within a Rollbar account. Projects are the top-level
      organizational unit for error tracking.
  - name: Source Maps
    description: >-
      Upload JavaScript source maps to enable readable stack traces for
      minified code.
  - name: Teams
    description: >-
      Manage teams and team membership within a Rollbar account. Teams
      control access to projects.
  - name: Users
    description: >-
      Retrieve user information within a Rollbar account.
security:
  - accessToken: []
paths:
  /item/:
    post:
      operationId: createItem
      summary: Create an item
      description: >-
        Reports an error or message to Rollbar. This is the primary endpoint
        used by Rollbar SDKs to send data. The request body should contain
        the error or message payload in Rollbar's item format.
      tags:
        - Items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateItemRequest'
      responses:
        '200':
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
  /items/:
    get:
      operationId: listAllItems
      summary: List all items
      description: >-
        Returns all items in the project, ordered by most recent occurrence.
        Supports filtering by status, level, and environment, with pagination.
      tags:
        - Items
      parameters:
        - $ref: '#/components/parameters/StatusFilter'
        - $ref: '#/components/parameters/LevelFilter'
        - $ref: '#/components/parameters/EnvironmentFilter'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: List of items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemListResponse'
        '401':
          description: Unauthorized
  /item/{itemId}:
    get:
      operationId: getItemById
      summary: Get an item by ID
      description: >-
        Returns a single item by its internal item ID. Note that this is
        different from the project counter visible in Rollbar URLs.
      tags:
        - Items
      parameters:
        - $ref: '#/components/parameters/ItemIdParam'
      responses:
        '200':
          description: Item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
        '401':
          description: Unauthorized
        '404':
          description: Item not found
    patch:
      operationId: updateItem
      summary: Update an item
      description: >-
        Updates properties of an item, such as its status, level, title,
        or assigned user. Commonly used to resolve or mute items.
      tags:
        - Items
      parameters:
        - $ref: '#/components/parameters/ItemIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
      responses:
        '200':
          description: Item updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
        '401':
          description: Unauthorized
        '404':
          description: Item not found
        '422':
          description: Unprocessable entity
  /item_by_counter/{counter}:
    get:
      operationId: getItemByCounter
      summary: Get an item by project counter
      description: >-
        Returns an item by its project counter. The counter is the number
        shown in Rollbar URLs (e.g., items/456). Returns a 301 redirect
        to the item resource.
      tags:
        - Items
      parameters:
        - $ref: '#/components/parameters/CounterParam'
      responses:
        '301':
          description: Redirect to item resource
        '401':
          description: Unauthorized
        '404':
          description: Item not found
  /item/{itemId}/instances/:
    get:
      operationId: listItemOccurrences
      summary: List all occurrences of an item
      description: >-
        Returns all occurrences for a specific item, in pages of 20,
        ordered descending by occurrence ID.
      tags:
        - Occurrences
      parameters:
        - $ref: '#/components/parameters/ItemIdParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: List of occurrences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccurrenceListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Item not found
  /instances/:
    get:
      operationId: listProjectOccurrences
      summary: List all occurrences in a project
      description: >-
        Returns all occurrences in the project, in pages of 20, ordered
        descending by occurrence ID (approximately descending by timestamp).
      tags:
        - Occurrences
      parameters:
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: List of occurrences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccurrenceListResponse'
        '401':
          description: Unauthorized
  /instance/{instanceId}:
    get:
      operationId: getOccurrence
      summary: Get an occurrence
      description: >-
        Returns a single occurrence by its instance ID.
      tags:
        - Occurrences
      parameters:
        - name: instanceId
          in: path
          required: true
          description: >-
            The ID of the occurrence instance to retrieve.
          schema:
            type: integer
      responses:
        '200':
          description: Occurrence details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccurrenceResponse'
        '401':
          description: Unauthorized
        '404':
          description: Occurrence not found
  /projects:
    get:
      operationId: listAllProjects
      summary: List all projects
      description: >-
        Returns all projects in the account. Requires an account-level
        access token.
      tags:
        - Projects
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          description: Unauthorized
    post:
      operationId: createProject
      summary: Create a project
      description: >-
        Creates a new project in the account. Optionally supports
        duplicating an existing project by providing a source project ID.
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '200':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /project/{projectId}:
    get:
      operationId: getProject
      summary: Get a project
      description: >-
        Returns information about a specific project.
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: >-
        Deletes a project and all of its data. This action is irreversible.
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Project deleted
        '401':
          description: Unauthorized
        '404':
          description: Project not found
  /project/{projectId}/access_tokens:
    get:
      operationId: listProjectAccessTokens
      summary: List all project access tokens
      description: >-
        Returns all access tokens for a specific project, including their
        scopes and rate limits.
      tags:
        - Access Tokens
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: List of access tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
    post:
      operationId: createProjectAccessToken
      summary: Create a project access token
      description: >-
        Creates a new access token for a project with specified scopes
        and rate limits.
      tags:
        - Access Tokens
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessTokenRequest'
      responses:
        '200':
          description: Access token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /project/{projectId}/access_token/{accessTokenId}:
    patch:
      operationId: updateProjectAccessToken
      summary: Update a project access token
      description: >-
        Updates properties of a project access token, such as its name,
        scopes, or rate limits.
      tags:
        - Access Tokens
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - name: accessTokenId
          in: path
          required: true
          description: >-
            The ID of the access token to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccessTokenRequest'
      responses:
        '200':
          description: Access token updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '401':
          description: Unauthorized
        '404':
          description: Access token not found
  /teams:
    get:
      operationId: listAllTeams
      summary: List all teams
      description: >-
        Returns all teams in the account. Requires an account-level
        access token.
      tags:
        - Teams
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamListResponse'
        '401':
          description: Unauthorized
    post:
      operationId: createTeam
      summary: Create a team
      description: >-
        Creates a new team in the account.
      tags:
        - Teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '200':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /team/{teamId}:
    get:
      operationId: getTeam
      summary: Get a team
      description: >-
        Returns information about a specific team.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    delete:
      operationId: deleteTeam
      summary: Delete a team
      description: >-
        Deletes a team. This action is irreversible.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: Team deleted
        '401':
          description: Unauthorized
        '404':
          description: Team not found
  /team/{teamId}/projects:
    get:
      operationId: listTeamProjects
      summary: List a team's projects
      description: >-
        Returns all projects assigned to a specific team.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: List of team projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
  /team/{teamId}/project/{projectId}:
    put:
      operationId: assignProjectToTeam
      summary: Assign a project to a team
      description: >-
        Assigns a project to a team, granting the team access to that project.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Project assigned to team
        '401':
          description: Unauthorized
        '404':
          description: Team or project not found
    delete:
      operationId: removeProjectFromTeam
      summary: Remove a project from a team
      description: >-
        Removes a project from a team, revoking the team's access to that project.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Project removed from team
        '401':
          description: Unauthorized
        '404':
          description: Team or project not found
  /team/{teamId}/user/{userId}:
    put:
      operationId: assignUserToTeam
      summary: Assign a user to a team
      description: >-
        Assigns a user to a team, granting them the team's access permissions.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: User assigned to team
        '401':
          description: Unauthorized
        '404':
          description: Team or user not found
    delete:
      operationId: removeUserFromTeam
      summary: Remove a user from a team
      description: >-
        Removes a user from a team, revoking the team's access permissions
        for that user.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: User removed from team
        '401':
          description: Unauthorized
        '404':
          description: Team or user not found
  /team/{teamId}/users:
    get:
      operationId: listTeamUsers
      summary: List a team's users
      description: >-
        Returns all users assigned to a specific team.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: List of team users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
  /users:
    get:
      operationId: listAllUsers
      summary: List all users
      description: >-
        Returns all users in the account. Requires an account-level
        access token.
      tags:
        - Users
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          description: Unauthorized
  /user/{userId}:
    get:
      operationId: getUser
      summary: Get a user
      description: >-
        Returns information about a specific user by their user ID.
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
        '404':
          description: User not found
  /team/{teamId}/invites:
    get:
      operationId: listTeamInvites
      summary: List all invitations for a team
      description: >-
        Returns all pending invitations for a specific team.
      tags:
        - Invites
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      responses:
        '200':
          description: List of invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteListResponse'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    post:
      operationId: inviteUserToTeam
      summary: Invite a user to a team
      description: >-
        Sends an invitation to join a team. The invitee receives an email
        with a link to accept the invitation.
      tags:
        - Invites
      parameters:
        - $ref: '#/components/parameters/TeamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
      responses:
        '200':
          description: Invitation sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /invite/{inviteId}:
    get:
      operationId: getInvite
      summary: Get an invitation
      description: >-
        Returns information about a specific invitation.
      tags:
        - Invites
      parameters:
        - name: inviteId
          in: path
          required: true
          description: >-
            The ID of the invitation to retrieve.
          schema:
            type: integer
      responses:
        '200':
          description: Invitation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteResponse'
        '401':
          description: Unauthorized
        '404':
          description: Invitation not found
    delete:
      operationId: cancelInvite
      summary: Cancel an invitation
      description: >-
        Cancels a pending invitation. Only pending invitations can be cancelled.
      tags:
        - Invites
      parameters:
        - name: inviteId
          in: path
          required: true
          description: >-
            The ID of the invitation to cancel.
          schema:
            type: integer
      responses:
        '200':
          description: Invitation cancelled
        '401':
          description: Unauthorized
        '404':
          description: Invitation not found
  /sourcemap:
    post:
      operationId: uploadSourceMap
      summary: Upload a JS source map
      description: >-
        Uploads a JavaScript source map file so that Rollbar can translate
        minified stack traces into readable source code references. The
        source map is associated with a specific version and minified URL.
      tags:
        - Source Maps
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadSourceMapRequest'
      responses:
        '200':
          description: Source map uploaded
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /notifications/webhook:
    get:
      operationId: getWebhookConfig
      summary: Get webhook notification configuration
      description: >-
        Returns the current webhook notification configuration for the project,
        including the webhook URL and format settings.
      tags:
        - Notifications
      responses:
        '200':
          description: Webhook configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigResponse'
        '401':
          description: Unauthorized
    put:
      operationId: updateWebhookConfig
      summary: Update webhook notification configuration
      description: >-
        Updates the webhook notification configuration for the project,
        including the URL and format (JSON or XML).
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookConfigRequest'
      responses:
        '200':
          description: Webhook configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /notifications/webhook/rules:
    get:
      operationId: listWebhookRules
      summary: List webhook notification rules
      description: >-
        Returns all webhook notification rules configured for the project.
      tags:
        - Notifications
      responses:
        '200':
          description: List of webhook rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleListResponse'
        '401':
          description: Unauthorized
    post:
      operationId: createWebhookRule
      summary: Create a webhook notification rule
      description: >-
        Creates a new webhook notification rule for the project, specifying
        trigger conditions and optional URL override.
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRuleRequest'
      responses:
        '200':
          description: Webhook rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity
  /notifications/webhook/rule/{ruleId}:
    get:
      operationId: getWebhookRule
      summary: Get a webhook notification rule
      description: >-
        Returns a specific webhook notification rule by its ID.
      tags:
        - Notifications
      parameters:
        - name: ruleId
          in: path
          required: true
          description: >-
            The ID of the webhook rule to retrieve.
          schema:
            type: integer
      responses:
        '200':
          description: Webhook rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
    put:
      operationId: updateWebhookRule
      summary: Update a webhook notification rule
      description: >-
        Updates a specific webhook notification rule.
      tags:
        - Notifications
      parameters:
        - name: ruleId
          in: path
          required: true
          description: >-
            The ID of the webhook rule to update.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRuleRequest'
      responses:
        '200':
          description: Webhook rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRuleResponse'
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
    delete:
      operationId: deleteWebhookRule
      summary: Delete a webhook notification rule
      description: >-
        Deletes a specific webhook notification rule.
      tags:
        - Notifications
      parameters:
        - name: ruleId
          in: path
          required: true
          description: >-
            The ID of the webhook rule to delete.
          schema:
            type: integer
      responses:
        '200':
          description: Webhook rule deleted
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: X-Rollbar-Access-Token
      description: >-
        Rollbar access token for authentication. Different token scopes
        are required for different operations.
  parameters:
    ItemIdParam:
      name: itemId
      in: path
      required: true
      description: >-
        The internal item ID. This is different from the project counter
        shown in Rollbar URLs.
      schema:
        type: integer
    CounterParam:
      name: counter
      in: path
      required: true
      description: >-
        The project counter for an item, as shown in Rollbar URLs
        (e.g., items/456 where 456 is the counter).
      schema:
        type: integer
    ProjectIdParam:
      name: projectId
      in: path
      required: true
      description: >-
        The ID of the project.
      schema:
        type: integer
    TeamIdParam:
      name: teamId
      in: path
      required: true
      description: >-
        The ID of the team.
      schema:
        type: integer
    UserIdParam:
      name: userId
      in: path
      required: true
      description: >-
        The ID of the user.
      schema:
        type: integer
    PageParam:
      name: page
      in: query
      required: false
      description: >-
        Page number for pagination. Defaults to 1.
      schema:
        type: integer
        minimum: 1
        default: 1
    StatusFilter:
      name: status
      in: query
      required: false
      description: >-
        Filter items by status.
      schema:
        type: string
        enum:
          - active
          - resolved
          - muted
          - any
    LevelFilter:
      name: level
      in: query
      required: false
      description: >-
        Filter items by level.
      schema:
        type: string
        enum:
          - critical
          - error
          - warning
          - info
          - debug
    EnvironmentFilter:
      name: environment
      in: query
      required: false
      description: >-
        Filter items by environment name.
      schema:
        type: string
  schemas:
    Item:
      type: object
      description: >-
        An item represents a unique error or message tracked by Rollbar,
        grouped by fingerprint.
      properties:
        id:
          type: integer
          description: >-
            The internal item ID.
        counter:
          type: integer
          description: >-
            The project-specific counter for this item.
        environment:
          type: string
          description: >-
            The environment where this item was first seen.
        framework:
          type: integer
          description: >-
            Framework identifier code.
        hash:
          type: string
          description: >-
            The fingerprint hash used to group occurrences into this item.
        title:
          type: string
          description: >-
            The title or summary of the item.
        first_occurrence_id:
          type: integer
          description: >-
            The ID of the first occurrence of this item.
        first_occurrence_timestamp:
          type: integer
          description: >-
            Unix timestamp of the first occurrence.
        last_occurrence_id:
          type: integer
          description: >-
            The ID of the most recent occurrence.
        last_occurrence_timestamp:
          type: integer
          description: >-
            Unix timestamp of the most recent occurrence.
        level:
          type: string
          description: >-
            The severity level of the item.
          enum:
            - critical
            - error
            - warning
            - info
            - debug
        status:
          type: string
          description: >-
            The current status of the item.
          enum:
            - active
            - resolved
            - muted
        total_occurrences:
          type: integer
          description: >-
            Total number of occurrences of this item.
        unique_occurrences:
          type: integer
          description: >-
            Number of unique occurrences.
        project_id:
          type: integer
          description: >-
            The project ID this item belongs to.
        resolved_in_version:
          type: string
          description: >-
            The version in which this item was resolved.
        assigned_user_id:
          type: integer
          description: >-
            The user ID of the assigned user.
    Occurrence:
      type: object
      description: >-
        An occurrence represents a single instance of an error or message.
      properties:
        id:
          type: integer
          description: >-
            The occurrence instance ID.
        item_id:
          type: integer
          description: >-
            The item ID this occurrence belongs to.
        timestamp:
          type: integer
          description: >-
            Unix timestamp when the occurrence happened.
        version:
          type: integer
          description: >-
            The occurrence data version.
        data:
          type: object
          description: >-
            The full occurrence data payload including body, request,
            server, and other context.
    Project:
      type: object
      description: >-
        A project in Rollbar, the top-level organizational unit for
        error tracking.
      properties:
        id:
          type: integer
          description: >-
            The project ID.
        account_id:
          type: integer
          description: >-
            The account ID this project belongs to.
        name:
          type: string
          description: >-
            The name of the project.
        date_created:
          type: integer
          description: >-
            Unix timestamp when the project was created.
        date_modified:
          type: integer
          description: >-
            Unix timestamp when the project was last modified.
        status:
          type: string
          description: >-
            The status of the project.
          enum:
            - enabled
            - disabled
    AccessToken:
      type: object
      description: >-
        A project access token used for API authentication.
      properties:
        project_id:
          type: integer
          description: >-
            The project this token belongs to.
        access_token:
          type: string
          description: >-
            The access token string.
        name:
          type: string
          description: >-
            A descriptive name for the token.
        status:
          type: string
          description: >-
            The status of the token.
          enum:
            - enabled
            - disabled
        scopes:
          type: array
          description: >-
            The scopes granted to this token.
          items:
            type: string
            enum:
              - read
              - write
              - post_server_item
              - post_client_item
        cur_rate_limit_window_count:
          type: integer
          description: >-
            Current number of calls in the rate limit window.
        rate_limit_window_size:
          type: integer
          description: >-
            Size of the rate limit window in seconds.
        rate_limit_window_count:
          type: integer
          description: >-
            Maximum number of calls allowed in the rate limit window.
        date_created:
          type: integer
          description: >-
            Unix timestamp when the token was created.
        date_modified:
          type: integer
          description: >-
            Unix timestamp when the token was last modified.
    Team:
      type: object
      description: >-
        A team in Rollbar that groups users and controls project access.
      properties:
        id:
          type: integer
          description: >-
            The team ID.
        account_id:
          type: integer
          description: >-
            The account ID this team belongs to.
        name:
          type: string
          description: >-
            The name of the team.
        access_level:
          type: string
          description: >-
            The access level granted to team members.
          enum:
            - standard
            - light
            - view
    User:
      type: object
      description: >-
        A user in a Rollbar account.
      properties:
        id:
          type: integer
          description: >-
            The user ID.
        username:
          type: string
          description: >-
            The username.
        email:
          type: string
          description: >-
            The user's email address.
          format: email
    Invite:
      type: object
      description: >-
        An invitation to join a Rollbar team.
      properties:
        id:
          type: integer
          description: >-
            The invitation ID.
        from_user_id:
          type: integer
          description: >-
            The user ID of the person who sent the invitation.
        team_id:
          type: integer
          description: >-
            The team ID the invitation is for.
        to_email:
          type: string
          description: >-
            The email address the invitation was sent to.
          format: email
        status:
          type: string
          description: >-
            The status of the invitation.
          enum:
            - pending
            - accepted
            - rejected
            - cancelled
        date_created:
          type: integer
          description: >-
            Unix timestamp when the invitation was created.
        date_redeemed:
          type: integer
          description: >-
            Unix timestamp when the invitation was accepted.
    CreateItemRequest:
      type: object
      description: >-
        Request body for creating a new item (error or message report).
      required:
        - access_token
        - data
      properties:
        access_token:
          type: string
          description: >-
            A post_server_item or post_client_item access token.
        data:
          type: object
          description: >-
            The item data payload.
          required:
            - environment
            - body
          properties:
            environment:
              type: string
              description: >-
                The environment name (e.g., production, staging).
              maxLength: 255
            body:
              type: object
              description: >-
                The body of the item, containing error trace or message.
            level:
              type: string
              description: >-
                The severity level.
              enum:
                - critical
                - error
                - warning
                - info
                - debug
            timestamp:
              type: integer
              description: >-
                Unix timestamp when the error occurred.
            code_version:
              type: string
              description: >-
                A string identifying the version of the application code.
              maxLength: 40
            platform:
              type: string
              description: >-
                The platform on which the error occurred.
            language:
              type: string
              description: >-
                The programming language of the code.
            framework:
              type: string
              description: >-
                The framework being used.
            server:
              type: object
              description: >-
                Server-related metadata.
            request:
              type: object
              description: >-
                HTTP request metadata if applicable.
            person:
              type: object
              description: >-
                Person/user who experienced the error.
            custom:
              type: object
              description: >-
                Custom key-value data to include with the item.
    UpdateItemRequest:
      type: object
      description: >-
        Request body for updating an item.
      properties:
        status:
          type: string
          description: >-
            The new status for the item.
          enum:
            - active
            - resolved
            - muted
        level:
          type: string
          description: >-
            The new severity level.
          enum:
            - critical
            - error
            - warning
            - info
            - debug
        title:
          type: string
          description: >-
            A custom title for the item.
        assigned_user_id:
          type: integer
          description: >-
            The user ID to assign this item to.
        resolved_in_version:
          type: string
          description: >-
            The version in which this item was resolved.
    CreateProjectRequest:
      type: object
      description: >-
        Request body for creating a new project.
      required:
        - name
      properties:
        name:
          type: string
          description: >-
            The name of the project.
        source_project_id:
          type: integer
          description: >-
            Optional project ID to duplicate settings from.
    CreateAccessTokenRequest:
      type: object
      description: >-
        Request body for creating a new project access token.
      required:
        - name
        - scopes
      properties:
        name:
          type: string
          description: >-
            A descriptive name for the token.
        scopes:
          type: array
          description: >-
            The scopes to grant to this token.
          items:
            type: string
            enum:
              - read
              - write
              - post_server_item
              - post_client_item
        rate_limit_window_size:
          type: integer
          description: >-
            Size of the rate limit window in seconds.
        rate_limit_window_count:
          type: integer
          description: >-
            Maximum number of calls allowed in the rate limit window.
    UpdateAccessTokenRequest:
      type: object
      description: >-
        Request body for updating a project access token.
      properties:
        name:
          type: string
          description: >-
            A new descriptive name for the token.
        scopes:
          type: array
          description: >-
            Updated scopes for this token.
          items:
            type: string
            enum:
              - read
              - write
              - post_server_item
              - post_client_item
        rate_limit_window_size:
          type: integer
          description: >-
            Updated rate limit window size in seconds.
        rate_limit_window_count:
          type: integer
          description: >-
            Updated maximum calls in the rate limit window.
    CreateTeamRequest:
      type: object
      description: >-
        Request body for creating a new team.
      required:
        - name
      properties:
        name:
          type: string
          description: >-
            The name of the team.
        access_level:
          type: string
          description: >-
            The access level to grant to team members.
          enum:
            - standard
            - light
            - view
    CreateInviteRequest:
      type: object
      description: >-
        Request body for inviting a user to a team.
      required:
        - email
      properties:
        email:
          type: string
          description: >-
            The email address to send the invitation to.
          format: email
    UploadSourceMapRequest:
      type: object
      description: >-
        Request body for uploading a JavaScript source map file.
      required:
        - access_token
        - version
        - minified_url
        - source_map
      properties:
        access_token:
          type: string
          description: >-
            A post_server_item access token.
        version:
          type: string
          description: >-
            The code version string associated with this source map.
        minified_url:
          type: string
          description: >-
            The full URL of the minified JavaScript file.
          format: uri
        source_map:
          type: string
          description: >-
            The source map file contents.
          format: binary
    UpdateWebhookConfigRequest:
      type: object
      description: >-
        Request body for updating webhook notification configuration.
      properties:
        enabled:
          type: boolean
          description: >-
            Whether the webhook integration is enabled.
        url:
          type: string
          description: >-
            The URL to send webhook payloads to.
          format: uri
        format:
          type: string
          description: >-
            The format for webhook payloads.
          enum:
            - json
            - xml
    CreateWebhookRuleRequest:
      type: object
      description: >-
        Request body for creating a webhook notification rule.
      properties:
        trigger:
          type: string
          description: >-
            The event type that triggers this rule.
          enum:
            - new_item
            - occurrence
            - exp_repeat_item
            - item_velocity
            - resolved_item
            - reactivated_item
            - reopened_item
            - deploy
        filters:
          type: array
          description: >-
            Filter conditions for the rule.
          items:
            type: object
        config:
          type: object
          description: >-
            Additional configuration for the rule.
          properties:
            url:
              type: string
              description: >-
                Override URL for this specific rule.
              format: uri
    ItemResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Item'
    ItemListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Item'
            page:
              type: integer
              description: >-
                Current page number.
    OccurrenceResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Occurrence'
    OccurrenceListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: object
          properties:
            instances:
              type: array
              items:
                $ref: '#/components/schemas/Occurrence'
            page:
              type: integer
              description: >-
                Current page number.
    ProjectResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Project'
    ProjectListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Project'
    AccessTokenResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/AccessToken'
    AccessTokenListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: array
          items:
            $ref: '#/components/schemas/AccessToken'
    TeamResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Team'
    TeamListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Team'
    UserResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/User'
    UserListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: object
          properties:
            users:
              type: array
              items:
                $ref: '#/components/schemas/User'
    InviteResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          $ref: '#/components/schemas/Invite'
    InviteListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Invite'
    WebhookConfigResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: object
          properties:
            enabled:
              type: boolean
              description: >-
                Whether the webhook integration is enabled.
            url:
              type: string
              description: >-
                The webhook URL.
            format:
              type: string
              description: >-
                The payload format.
              enum:
                - json
                - xml
    WebhookRuleResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: object
          properties:
            id:
              type: integer
              description: >-
                The rule ID.
            trigger:
              type: string
              description: >-
                The event trigger type.
            filters:
              type: array
              description: >-
                Filter conditions.
              items:
                type: object
            config:
              type: object
              description: >-
                Rule configuration.
    WebhookRuleListResponse:
      type: object
      properties:
        err:
          type: integer
          description: >-
            Error code. 0 indicates success.
        result:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                description: >-
                  The rule ID.
              trigger:
                type: string
                description: >-
                  The event trigger type.
              filters:
                type: array
                description: >-
                  Filter conditions.
                items:
                  type: object
              config:
                type: object
                description: >-
                  Rule configuration.
